<%= render 'shared/navbar' %>

<div class="container">
  <h1>Welcome to the IdeaMachine mofos</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<ul>
  <li>
      <%= link_to 'ideas/create', ideas_create_path %>
  </li>
  <li>  <%= link_to 'ideamachines/create', ideamachines_create_path %>
  </li>
</ul>



